 ------
Download exp4j
 ------
Frank Asseg
 ------
2011-05-01
 ------

Download exp4j ${project.version}

  exp4j ${project.version} {{{http://www.objecthunter.net/exp4j/exp4j-${project.version}.jar}Binary Jar}}\
  exp4j ${project.version} {{{http://www.objecthunter.net/exp4j/exp4j-${project.version}-javadoc.jar}Javadoc}}\
  exp4j ${project.version} {{{http://www.objecthunter.net/exp4j/exp4j-${project.version}-sources.jar}Sources}}

Using Apache Maven

  you can include the artifact

+--
<dependency>
	<groupId>net.objecthunter</groupId>
	<artifactId>exp4j</artifactId>
	<version>${project.version}</version>
</dependency>
+--  

